accelerate
aiosignal
attrs
bert-score
bitsandbytes
# bleurt
git+https://github.com/google-research/bleurt.git
build
cachecontrol
chardet
charset-normalizer
cleo
contourpy
crashtest
cryptography
cycler
datasets
dill
distlib
docstring-parser
dulwich
einops
eval-type-backport
evaluate
fastjsonschema
# flash-attn
flatbuffers
fonttools
frozenlist
fsspec
gast
genre
git-filter-repo
grpcio
hf-transfer
huggingface-hub
idna
importlib-resources
installer
jaraco-classes
jeepney
joblib
keyring
kiwisolver
libclang
lxml
marisa-trie
markdown
markdown-it-py
markupsafe
matplotlib
mdurl
ml-dtypes
more-itertools
msgpack
multidict
multiprocess
namex
networkx
ninja
optree
peft
pkginfo
platformdirs
portalocker
protobuf
pyarrow
pyarrow-hotfix
pyparsing
pyproject-hooks
rapidfuzz
regex
requests
requests-toolbelt
rich
rouge-score
sacrebleu
safetensors
scikit-learn
scipy
seaborn
secretstorage
sentencepiece
shellingham
shtab
tabulate
termcolor
tf-slim
threadpoolctl
tokenizers
tomli
tomlkit
transformers
# triton
trl
trove-classifiers
tyro
unsloth
urllib3
virtualenv
werkzeug
wheel
wrapt
xattr
# xformers
yarl
sentence-transformers
tf-keras